---
import Layout from '../layouts/Layout.astro';
---

<Layout title='2'>
    <h1>Contact Us</h1>
    <p>
        Have a question or comment? We'd love to hear from you! Send us an email at{' '}
        <a href='mailto:apierra@gmail.com'></a>
    </p>
</Layout>