---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
	<h1>Current Year: <span id="year"></span></h1>
	<h2>Current Moment: <span id="moment"></span></h2>
	<script>
		const currentYear = new Date().getFullYear();
		const currentMoment = new Date().toLocaleTimeString();
		const yearElement = document.querySelector('#year');
		if (yearElement) {
			yearElement.textContent = currentYear.toString();
		}
		const momentElement = document.querySelector('#moment');
		if (momentElement) {
			momentElement.textContent = currentMoment;
		}
	</script>
</Layout>
